body{
    overflow-x: hidden;
}
.carousel-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 400px;
    margin-top: 10px;
    border-radius: 10px;
    background: #fff;
}

.carousel img {
    width: 400px;
    transition: opacity 0.3s;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail:hover {
    opacity: 1;
}

hr{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 2.3px;
    background: #fff;
    border: solid 1px #eee;
    border-radius: 5px;
    margin-top: 10px;
}
.btn-container{
    display: block;
    padding: 5px 3px;
    margin: 5px;
    color: #fff;
    font-family: 'poppins', sans-serif;
    /* padding: 10px 40px; */
}

.deta{
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
}

.product-name{
    text-transform: uppercase;
    /* margin-left: 10px; */
    margin-top: 10px;
    font-size: 20px;
}

.product-price{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.price span{
    font-size: 27px;
    margin: 2px;

}

.discount-price span{
    color: rgba(255, 255, 255, 0.4);
    text-decoration: line-through;
    margin: 0 5px ;
    font-size: 10px;
}

.product-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 10px;
    justify-content: center;
}

.product-btn button{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    align-items: center;
    background: var(--faint-gold);
    color: #fff;
}

.product-btn button:hover{
    background: #fff;
    color: var(--faint-gold);
}

.down-container{
    display: block;
    margin: 5px;
    color: #fff;
}

.down-container .description{
    gap: 5px;
    margin-bottom: 10px;
}

.down-container .description span{
    font-size: 20px;
    margin-bottom: 10px;
}

.down-container .description p{
    font-size: 10px;
}

/* feature grid */
section.down-section{
    display: inline-block;
    margin: 9px 15px;
    padding: 5px;
    width: 100%;
}

.down-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-grid{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    padding: 0 5px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

.feature-grid::-webkit-scrollbar{
    display: none;
}

.feature-head{
    position: relative;
    margin: 0;
    padding: 5px;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    border-bottom: solid 3px #fff;
}

.feature-card{
    flex: 0 0 auto;
    width: 230px;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    scroll-snap-align: none left;
    align-items: center;
    padding: 5px 0;
}

.feature-card:hover a button.card-btn{
    opacity: 1;
}

.featured-image{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 9px;
    align-items: center;
}

img.feature-thumb{
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.feature-image span.discount-tag{
    display: none !important;
}

.feature-info{
    display: block;
    position: relative;
    margin: 3px;
    text-transform: capitalize;
}

.feature-name{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 2px;
}

.feature-brand{
    font-family: 'poppins', sans-serif;
    font-size: 13px;
}

.feature-prices{
    position: relative;
    width: 100%;
    padding: 2px 4px;
}

.feature-prices span.feature-price{
    font-family: 'poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

/* Fashion page */
section.fashion-banner{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 3px 10px;
    padding: 2px;
}

.fashion-slider{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    padding: 0 5px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

.fashion-slider::-webkit-scrollbar{
    display: none;
}

.fashion-slide{
    display: none;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
    width: 98vw;
    height: 100%;
    padding: 5px;
    /* margin-right: 10px; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    scroll-snap-align: none center;
    gap: 20px;
}

.fashion-slide:first-child{
    display: flex;
}

.fashion-image{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    margin: 0;

}

.fashion-slide span{
    position: absolute;
    background: red;
    margin: 0px;
    padding: 3px;
    font-size: 10px;
    top: 1px;
    right: 1px;
    border-radius: 0px 10px;
}

.fashion-slide img{
    width: 100%;
    height: 100%;
   object-fit: cover;
    border-radius: 5px;
    margin: 0;
}

/* Add CSS animations and transitions */
.fashion-slide {
    animation: zoomInOut 9s infinite; /* Adjust the duration as needed */
    transition: transform 0.5s, opacity 0.5s;
}

.fashion-slide.show {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.8s; /* Delay for the sliding-in effect */
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(0);
    }
    10%, 90% {
        transform: scale(0.6); /* Zoom in/out effect */
    }
    15%, 85%{
        transform: scale(1);
    }
}

/* Add transition to fashion-image and fashion-desc */
.fashion-image,
.fashion-desc {
    transform: translateY(0%);
    transition: transform 0.5s, opacity 0.5s;
}

.fashion-slide.show .fashion-image{
    transform: translateY(0);
    opacity: 1;
    transition: 0.6s;
}

.fashion-slide.show .fashion-desc {
    transform: translateY(0);
    opacity: 1;
    transition: 1.2s;   
}

.fashion-desc{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    margin: 0;
    padding: 10px;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
}

.fashion-desc .name{
    font-family: 'poppins', sans-serif;
    font-size: 160%;
    text-transform: capitalize;
    font-weight: 600;
}

.fashion-desc .detail{
    font-family: 'poppins', sans-serif;
    font-size: 55%;
    /* text-transform: capitalize; */
    font-weight: 600;
}

.fashion-desc button{
    margin: 0;
    margin-top: 5px;
    padding: 10px;
    background: var(--faint-gold);
    border: none;
    border-radius: 5px;
}

/* fashion feature */
section.featured-fashion{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2px 8px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
}

.featured-fashion span{
    font-size: 40px;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.feature-fashion-con{
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 20px;
    justify-content: center;
}

.fefa-image{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* scale: 1/1; */
    overflow: hidden;
    align-items: center;
}

.fefa-img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

.fefa-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.fefa-desc .name{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.fefa-desc .detail{
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
}

.fefa-desc button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: var(--faint-gold);
}