/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Remove default margin to prevent the gap at the bottom */
}

.main-head {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.main-nav {
    background-color: #444;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav li {
    margin: 10px;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    flex-grow: 1;
    padding-bottom: 60px; /* Adjust the padding to accommodate the footer's height */
}

section {
    margin-bottom: 30px;
}

#main-top {
    text-align: center;
}

#personal-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#personal-details img {
    max-width: 200px;
    height: 200px;
    object-fit: center;
    border-radius: 50%;
    margin-right: 20px;
}

#age {
    font-weight: bold;
}

#main-middle h2, #skills h2 {
    margin-top: 10px;
}

.project-description {
    display: none;
    background: black; /* Add an image background if needed */
    color: #fff; /* Text color for the description */
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.project-title {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.project-title:hover + .project-description, .project-title.active + .project-description {
    display: block;
}

.main-contact {
  display: block;
  position: relative;
  align-self: bottom;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Add the glow effect to the social media icons */
.main-contact a i {
    font-size: 24px; /* Adjust the size as needed */
    margin: 0 10px; /* Add some spacing between icons */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Add the glow effect */
}

/* Style the links (optional) */
.main-contact a {
    text-decoration: none;
    color: #fff;
}

/* Add hover effect (optional) */
.main-contact a:hover {
    text-decoration: underline; /* Underline the icon on hover */
}

/* Add your custom styles here */